.statusFalse {
	background-color: grey;
}

.statusTrue {
	background-color: orange;
}

.list {
	padding: 0;
}

.list>li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.container {
	padding: 0 10px;
	margin: 0 auto;
}

.buttonToChangeStatus,
.buttonForDelete {
	display: block;
	border: none;
	background-color: aqua;
	border-radius: 6px;
	color: brown;
}

.MuiButtonBase-root.buttonForDelete{
	margin-right: 5px;
}
.MuiButtonBase-root.buttonToAdd{
	margin-left: 5px;
}

.buttonForDelete {
	background-color: bisque;
	color: firebrick;
	margin-right: 5px;
}

.row {
	display: flex;
}

.buttonToAdd {
	border: none;
	border-radius: 6px;
	padding: 7px;
	margin-left: 5px;
	background-color: cadetblue;
	color: black;
}

#outlined-basic {
	display: inline-block;
	padding: 10.5px 10px;
	margin-right: 10px;	
}

.MuiBox-root.css-0 {
	padding-top: 10px;
}

.linkForTodo{
	text-decoration: none;
	margin-left: 5px;
	color:black;
	cursor: pointer;
}

.MuiBox-root.buttonBack {
	text-decoration: none;
}

.MuiFormControl-root.css-1nrlq1o-MuiFormControl-root {
	display: flex;
	flex-direction: row;
}